#navContainer {
  background-color: #728996;
  height: 50px;
}

.navItem {
  color: white;
  font-size: large;
  text-align: center;
}

#pageContainer {
  display: flex;
  height: 500px;
}

.container {
  display: inline-flex;
}

.regContent {
  color: green;
  width: 75%;
}

#headshot {
  float: left;
}

.displayPdf {
  width: 100%;
  height: auto;
}
