<div id="aboutContent">
  <div class="center-hero-unit">
    <h2>In a nutshell...</h2>
    <p>
      A proud son of <a href="https://www.google.com/maps/place/Santa+Rosa,+CA/@38.4354666,-122.8436294,11z/data=!3m1!4b1!4m2!3m1!1s0x80843bc936e647d7:0x5ccd656bc54f4849">NorCal</a> transplanted to the South, I had my B.A. in Literatures from <a href="//ucsd.edu">UC San Diego</a> and decided to stick around (pick a reason).  Lit hasn't been the growth industry they told me it would be, so I've put myself to work in Human Resources and Recruiting.
    </p>

    <p>I'm currently with San Diego's longest-running Web Dev agency, <a href="//pint.com">PINT, Inc</a>, learning whatever I can from my brilliant colleagues, and searching for those who want to <a href="//pint.workable.com">join our ranks.</a>  Prior to my time with PINT, I performed a similar role for a financial firm for about six years, but the technical challenges and dynamic landscape of the web make this feel like home.
    </p>
    
    <p>In my spare time there is always soccer, scuba, brewing or the books on my shelf, so if the <a href="//xolos.com.mx">Xolos</a> aren't winning and <a href="//divebums.com/dive-sites/La-Jolla-Cove.html">La Jolla's</a> viz is bad, I've still got <a href="//reddit.com/r/warriors">the Dubs</a> and <a href="//marktwainproject.org/xtf/view?docId=works/MTDP10362.xml;chunk.id=fr0001;toc.depth=1;toc.id=fr0001;citations=;style=work;brand=mtp#X">that one I've been meaning to read</a>.
    </p>
    <img src="images/xolos_fiel-small.jpg", alt="Xolos" id="xolosImg"/>
    <img src="images/warriors2-small.jpg", alt="Warriors" id="dubsImg"/>
    </p>
  </div>
  <img id="headshot" src="/images/bubblegum.jpg" alt="Marks Face"/>
</div>

