<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/images/favicon.png"></link>
<link rel="stylesheet" media="screen" type="text/css" href="css/main.css"></link>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="./js/main.js"></script>
</head>

<body>
<div id="navContainer">
  <script id="nav-template" type="x-handlebars-template">
    {{#each this}}
      <span id="centerNavItem" class="navItem">
        {{name}}
      </span>
    {{/each}}
  </script>
</div>
<div id="pageContainer">
  <div class="regContent">
  </div>
  <div id="rightNav">
    <div>
      <script id="rightNav-template" type="x-handlebars-template">
        {{#each this}}
          <div id="rightNavItem" class="navItem">
            {{name}}
          </div>
        {{/each}}
      </script>
    </div>
    <img id="headshot" src="/images/bubblegum.jpg" alt="Marks Face"/>
  </div>
</div>
<div id="footerContainer"></div>
</body>
</html>
